body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3e9e9;
}

.container {
  max-width: 20rem;
  margin: 0 auto;
  border: 1px solid black;
}

.header {
  color: white;
  background-color: #4075b7;
}
.header__titulo-principal {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.header__dias-semana {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  word-spacing: 0.9rem;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 0.7rem;
}
.header__mes {
  font-weight: bold;
  margin-top: 1rem;
  padding-left: 1rem;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: (1fr)[5];
  grid-template-rows: repeat(5, 1fr);
  margin-top: 1rem;
}

.main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.main > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.main > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.main > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.main > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.main > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.main > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.main > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.main > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.main > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.main > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.main > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.main > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.main > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.main > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.main > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.main > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.main > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.main > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.main > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.main > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.main > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.main > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.main > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.main > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.main > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.main > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.main > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.main > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.main > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.main__numeros {
  text-align: center;
}
.main__numeros-concretos {
  color: rgba(128, 128, 128, 0.8);
}
.main__numeros:hover {
  background-color: blue;
}
/*# sourceMappingURL=main.css.map */